*
{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	background-color: #feffdb;
}

#b_img
{
	background-image:url("image/Background_image.png");
	background-size: 65%;
	background-repeat: no-repeat;
	background-position: fixed;

	width: 50%;
	height: 100vh;
	float: left;
	margin-left: 5%; 
}

#contant_right
{
	width: 50%;
	float: right;
	margin: -25% auto;
	/* position: absolute;
	top: 25%;
	right: 5%; */

}

#contant_right p
{
	padding: 5px;
	font-size: 400%;
}

#bgcolor
{
	background-color: #d8a343;
	border-radius: 5px;
	padding: 5px;
}

