*
{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	background-color: #feffdb;
}

#b_img
{
	background-image:url("image/Background_image.png");
	background-size: 65%;
	background-repeat: no-repeat;
	background-position: fixed;

	width: 50%;
	height: 100vh;
	float: left;
	margin-left: 5%; 
}

#contant_right
{
	width: 50%;
	float: right;
	margin: -25% auto;
	/* position: absolute;
	top: 25%;
	right: 5%; */

}

#contant_right p
{
	padding: 5px;
	font-size: 400%;
}

#bgcolor
{
	background-color: #d8a343;
	border-radius: 5px;
	padding: 5px;
}

/* header media query */

/* Ipad Pro */
@media screen and (max-width:1375px){
	#b_img {
		width: 50%;
		background-size: 85%;
		clear: both;
		margin: auto;
		background-position: 100px 60px;
	}
	#contant_right{
		width: 50%;
		clear: both;
		position: relative;
		text-align:center;
	}
	#contant_right p {
		font-size: 300%;
		padding: 0;
		margin: -25% auto;
		line-height: 125%;
	}
}
@media screen and (max-width:1050px){
	#b_img {
		width: 100%;
		background-size: 65%;
		clear: both;
		margin: auto;
		background-position: 100px 60px;
	}
	#contant_right{
		width: 100%;
		clear: both;
		margin: 0;
		position: relative;
		text-align:center;
	}
	#contant_right p {
		font-size: 500%;
		padding: 0;
	}
}


/* Ipad */

